body{
    background-color: rgb(57, 59, 63);
    margin: 0;
    font-family: Courier;
    color: white;
}

header h1{
    color: white;
    text-align: center;
}

header{
    background-color: rgb(44, 43, 90);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

section{
    display: block;
    text-align:left;
    margin: auto;
    max-width: 600px;
    padding: 10px;
}

section h2{
    font-size: 30px;
    text-align: left;
    padding-bottom: 0px;
}

section p{
    font:normal;
    font-size: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#profil{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: auto;
    width: 100%;
    max-width: 300px;
}

section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
    width: 100%;
    max-width: 200px;
}

#git{
    text-align: center;
}

footer{
    color: white;
    text-align: center;
    background-color: rgb(44, 43, 90);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}